<div class="container">
  <h1>Products</h1>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        {{# each products}}
          <div class="col-md-4 col-lg-2">
            {{#if image}}
              <img src="{{{cloudinaryUrl image width=150 height=150 crop="fit"}}}" class="thumbnail"/>
            {{/if}}
            <p><a href="{{productUrl slug}}">{{{title}}}</a></p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
